.container {
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
    width: '100%',
    margin: 'auto',
    backgroundColor: 'lightgrey'
}
.card {
    minWidth: '50%',
    maxWidth: 1075,
    margin: '100px'
}

.content {
    display: 'flex',
    flexDirection: 'column',
    alignItems: 'center',
}

.title {
    fontSize: 24,
    fontWeight: 'bold',
    marginBottom: 24
}

.pos {
    marginBottom: 12,
}

.input {
    width: '70%',
    marginTop: 12

}

.optionsButton {
    width: '70%',
    alignSelf: 'center'
}